################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/kurahonyo.github.io/v17
/.vs/kurahonyo.github.io/FileContentIndex
*.json
*.sqlite
*.sqlite-journal
